{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
            Chai Hub
        {% endblock  %} 
    </title>
    <style>
        {% block  style %}{% endblock %} 
    </style>
    {% tailwind_css %}
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
</head>

<body class="bg-amber-50">

<!-- Navbar -->
<nav class="bg-amber-900 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">☕ ChaiHub</h1>
        <ul class="flex space-x-6">
            <li><a href="{% url 'home' %}" class="hover:text-yellow-300">Home</a></li>
            <li><a href="{% url 'menu' %}" class="hover:text-yellow-300">Menu</a></li>
            <li><a href="{% url 'about' %}" class="hover:text-yellow-300">About</a></li>
            <li><a href="#" class="hover:text-yellow-300">Contact</a></li>
        </ul>
    </div>
</nav>




{% block contant %}
{% endblock %}


<!-- Footer -->
<footer class="bg-amber-900 text-white text-center p-4">
    <p>© 2026 ChaiHub | Made with ❤️ for chai lovers</p>
</footer>

</body>
</html>
